<html>
  <head></head>
  <body style="background: <%= bg_color %>">
    <form>
      <input type="text" name="guess">
      <input type="submit" valut="Guess!">
      <%= message %>
    </form>
    <% if correct_guess %>
      <p>The SECRET NUMBER IS <%= number %></p>
    <% end %>
  </body>
</html>
